{% extends "base.html" %}
{% block Title %} List Book {% endblock %}
{% block content %}
    <h2 class="text-center mb-3">List Book</h2>

    <div class="container">
        <div class="row">
            {% for book in book_list %}
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h2 class="card-title">{{ book.title }}</h2>
                            <p class="card-text">{{ book.description }}</p>
                            <h7 class="card-text">{{ book.author }}</h7>
                            <p></p>
                            <h7 class="card-text">{{ book.editorial }}</h7>
                            <p></p>
                            <h7 class="card-text">{{ book.publication_date }}</h7>
                            <p></p>
                            <a href="{% url 'update_book' book.id %}" class="btn btn-outline-primary">Edit</a>
                            <a href="{% url 'delete_book' book.id %}" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}