{% extends "base.html" %}
{% block Title %} HOME LIBRARY {% endblock %}

{% block content %}
    <h1 class="text-center py-3">HOME LIBRARY</h1>
    <p class="text-center">Esta es una aplicación en donde usted primeramente debe registrarse, luego loguearse y asi podra agregar un libro que desee, puede listarlo, actualizar su información y eliminarlos.
    </p>
    <p class="text-center">Nota: dentro del botón -"list book"-, usted podrá editar o eliminar un libro; para esto debe estar logueado</p>
    <div class="card bg-dark text-white">
        <img src="../static/img/library-banner.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
        </div>
    </div>
{% endblock %}
