{% extends 'base.html' %}
{% block tilte %}Signin{% endblock tilte %}

{% block content %}
    <div class="container">
    <form method="POST" action="{% url 'login' %}" class="mt-5">{% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
            <div>
                <button class="btn btn-primary" type="submit">Sign In</button>
            </div>
        </div>
    </form>
    </div>

{% endblock content %}
