{% extends 'base.html' %}
{% block tilte %}Signin{% endblock tilte %}

{% block content %}
    <div class="container">
        <form method="POST" action="{% url 'signup' %}" class="mt-5">{% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
                <div>
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}